<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="ASR Attack" content="width=device-width, initial-scale=1.0">
    <title>ASR Attack</title>
</head>

<body style="background-color:wheat">
    <div id="maintext"
        style="position:static; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
        
        <h1 class="text-light mb-2">Upload your audio to be attacked here!</h1>
        <h4 class="text-light mb-5">1. The target phrase should be capital letter. Example: "OPEN"</h4>
        <h4 class="text-light mb-5">2. The shorter the target phrase, the more likely the attack will be sucess.</h4>
        <h4 class="text-light mb-5">3. The attack process may take about 30 seconds, please wait...</h4>
        <form method=post enctype=multipart/form-data action="/attack">
            <p class="text-light mb-5">
                Original Audio: <input type=file name=file> Target Phrase: <input type=text name=target><br>
                <input type=submit value=Upload>
            </p>
        </form>
        <hr>
        <h1 class="text-light mb-2"> Upload your audio to be classified by ASR!</h1>
        <h4 class="text-light mb-5">1. Please upload audio with sample rate in 16000 Hz.</h4>
        <h4 class="text-light mb-5">2. The transcription process may take about 10 seconds, please wait...</h4>
        <form method=post enctype=multipart/form-data action="/asr">
            <p class="text-light">
                Audio: <input type=file name=file>
                <input type=submit value=Upload>
            </p>
        </form>
        <hr>
        <h3>Example Corpus: <a href="/corpus/0.wav">0.wav</a>     <a href="/corpus/7.wav">7.wav</a></h4>
        
    </div>
</body>

</html>